.form-container {
    padding: 20px;
    background-color: lightblue;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .form-field {
    width: calc(50% - 10px); /* Adjust the width based on the number of fields */
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Add margin between input fields */
  .form-field:not(:last-child) {
    margin-right: 10px;
  }
  
  /* Adjust the width for larger screens, or if needed */
  @media (min-width: 768px) {
    .form-field {
      width: calc(33.33% - 10px);
    }
  }
  
  /* Additional styling for better form appearance */
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-field input,
  .form-field select {
    width: 100%;
    padding: 15px; /* Adjust the padding for larger input height */
    box-sizing: border-box;
  }
  
  .submit-button {
    width: 50%; /* Adjust the width as needed */
    background-color: #194759;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: rgba(22, 66, 78, 0.571)
  }
  
  .divForActivity {
    background-color: transparentk;
  }
  